* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header {
  background-image: linear-gradient(to right, orangered, orange, orangered);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: start;

  font-size: 250%;
  color: yellow;
}
header img {
  justify-self: end;
}

main {
  display: grid;

  margin: 1rem;
}
section {
  display: flex;

  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
#dev {
  width: 90%;
}
section h4 {
  text-align: center;
  padding-bottom: 3px;
  color: orange;
}

.box-1 img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 4em;
}
.box-1:hover img {
  -moz-transform: scale(1-1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

main h2 {
  text-align: center;
  font-size: 200%;
  color: orangered;
}

table {
  text-align: center;
  padding-top: 5%;
  width: 100%;
}

td {
  padding-left: 20px;
}
main h4 {
  margin-top: 10%;
  border-top: solid 2px orange;
  padding-left: 10px;
  font-size: 150%;
}
main p {
  font-size: 110%;
  margin-top: 5px;
  margin-bottom: 5px;
}
main a {
  font-size: 110%;
}
a {
  color: orange;
}
.redes-socias {
  width: 2%;
  margin-top: 10px;
  margin-left: 30px;
  padding-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  section {
    display: flex;

    flex-wrap: wrap;
  }
}
