body{
    background-color: #f0a272;
    color:black ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%x;
    margin: 0 auto;

}

header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
}

main{
    padding: 45px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #da5502;
    transition: 0.3s all;
}
#login-btn{
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}
#login-btn:hover{
    background-color: #da5502;
    color: white;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 40px;
    line-height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
article img{
    width: 680px; ;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type="submit"]:hover{
    cursor: pointer;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #da5502;
    color: white;
    font-weight: bold;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

#vantagens{
    margin-left: 35px;
    max-width: 80%;

}
#vantages {
    max-width: 80%;
}

#vantagens p{
    line-height: 20px;
    max-width: 500px;
    font-family:Verdana;
    text-align: justify;
}


.Quem-sou{
    text-align: justify;
}
.taxas img{
    width:380px;
}

/* Rodapé */

.box-1-footer {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
    align-items: center;
    background-color: rgb(7, 7, 7);
    margin-top: 30px;
    padding: 20px;

}

.box-2-footer {
    grid-template-columns: 25% 25% 25% 25%;
    display: grid;
    color: white;
    background-color: rgb(7, 7, 7);
    padding: 20px;
}

.box-2-footer a {
    text-decoration: none;
    color: white;
}

/* Adaptação para mobile */

@media (max-width: 600px) {
    * {
        max-width: 100vw;

    }
    header {
        font-size: 9px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    #mulher-laranja{
        max-width: 100%;
    }

    .box-1-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        gap: 30px;
    }

    .box-2-footer {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        gap: 30px;
    }
}